/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}

.recipe{
    overflow: hidden;
}

.recipe-name{
    text-align: center;
}

.recipe-chef-name{
    text-align: center;
}

.recipe-img{
    width: 100%;
    -webkit-transition: transform 0.5s;
}

.recipe-img:hover{
    -webkit-transform: scale(1.1, 1.1);
}

.recipe-step{
    font-size: 20px;
    list-style-type: none;
}

.recipe-step li {
    counter-increment: item;
    margin-bottom: 5px;
}
.recipe-step li:before {
    margin-right: 10px;
    content: counter(item);
    background: #9E9E9E;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}

.recipe-step-ingredient{
    list-style-type: none;
}

.recipe-step-ingredient li{
    margin: 3px;
    font-size: 20px;
}

.ingredients{
    margin-top: 10px;
}

.steps{
    margin-top: 10px;
}

.login{
    margin-top: 10px;
}